

.tblDesign {
    background-color: #adff2f;
}

.btnDesign {
    width: 100%;
    height: 45px;
    border: 1px solid;
    margin-bottom: 4px;

}

.btnDesign1 {
    width: 100%;
    height: 45px;
    border: 1px solid;
    margin-bottom: 4px;

}

.lblDesign {
    width: 150px;
    display: inline-block;
    margin-bottom: 3px;

}

.cmbDesign {
    width: 180px;
    height: 25px;
    margin-bottom: 3px;
}

.txtDesign {
    width: 180px;
    height: 25px;
}

.dobDesign {
    width: 180px;
    height: 25px;
}

.listDesign {
    width: 180px;
    height: 130px;
}

